.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
.icon-inst-1 {
  width: 32px;
  height: 32px;
}

.icon-twitter-1 {
  width: 35px;
  height: 32px;
}
.icon-youtube-1 {
  width: 54px;
  height: 32px;
}
