.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-Vector-9 {
  width: 194px;
}

.icon-Vector-8 {
  width: 269px;
}

.icon-youtube-1 {
  width: 1.6669921875em;
}

.icon-twitter-1 {
  width: 1.1337890625em;
}
.icon-inst-1 {
  fill: white;
}
a {
  fill: white;
  
}